body {
    background: #6c50c7;
    color: #e7dfdd;
}

.nav a {
    display: inline-block;
    margin-left: 50px;
    padding-top: 30px;
    padding-right: 20px;
    position: relative;
    color: #e7dfdd;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}

h1
{
    float:left;
}

.defaultPageList {
    margin: auto;
    width: 100%;
    text-align: center;
    padding-top: 50px;
}

.list-group {
    list-style: none;
}

.list-group-item{
    list-style: none;
    padding:20px;
}

    .list-group-item a {
        float: none;
        text-decoration: underline;
        text-transform: uppercase;
        font-size: 15px;
        list-style: none;
        color: #e7dfdd;
    }